body {
 background-image: url("/src/lines.png");
 background-size: 80px 80px;
 margin-left: 5vw;
 margin-right: 5vw;
}

.header a {
  color: rgb(208, 105, 93);
}

.header a:visited {
  color: rgb(208, 105, 93);
}

a:visited {
  color: #df9f8d;
}

a:hover {
  color:#af6855
}

a {
  color: salmon;
  text-decoration: none;
  font-size: 22px;
}

.header {
  flex: display;
  justify-content: left;
  align-items: normal;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  background-color: rgba(206, 132, 125, 0.531);
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  box-shadow: 4px 3px 8px rgba(90, 34, 28, 0.576);
}

.header h1 {
  font-family: "Outfit";
  font-size: 40px;
  color: rgb(255, 249, 241);
  padding-bottom: 10px;
}

.title {
  max-width: 290px;
  position: inline;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main h1 {
  font-family: "Pacifico";
  color: #743931;
  text-shadow: 2px 5px 1px white;
  font-weight: 500;
  font-size: 60px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.section {
  display: flex;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  min-width: 200px;
  max-width: 800px;
  background-color: rgb(252, 248, 245);
  border-top: 2.5px dashed #9a6565;
  border-left: 2.5px dashed #9a6565;
  box-shadow: 4px 3px 5px rgba(90, 34, 28, 0.574);
}

.section h2 {
  font-family: "Outfit";
  color: rgb(59, 52, 49);
  font-weight: 600;
  font-size: 2rem;

}

.section h3 {
  font-family: "Outfit";
  font-weight: 700;
  color: #975454;
}

.section h4 {
  font-family: "Outfit";
  font-weight: 600;
}

.section p {
  font-family: "Outfit";
  font-weight: 300;
  font-size: 18px;
}

.about {
  padding: 1em;
  flex-grow: 1;
}

.education {
  padding: 1em;
}

.education p {
  font-size: 15px;
}

.certifications {
  padding: 1em;
}

.projects {
  padding: 1em;
}
