body {
 background-image: url("/src/resources/lines.png");
 background-size: 80px 80px;
 margin-left: 5vw;
 margin-right: 5vw;
}

a:visited {
  color: #df9f8d;
}

a:hover {
  color:#af6855
}

a {
  color: salmon;
  text-decoration: none;
  font-size: 22px;
}
